@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Scroll bar */
    --track-color: #f1f1f1;
    --thumb-color: #aaa;
    --thumb-hover-color: #888;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover-color);
}
body {
    overflow-y: hidden;
}
